<header>
  <ng-sidebar-container>
    <ng-sidebar [opened]="opened">
      <!--- SideBar -->
      <app-sidenav></app-sidenav>
    </ng-sidebar>
    <div ng-sidebar-content>
      <!--pageContent-->
      <div class="navbar">
        <div class="container">
          <a routerLink="'/'" class="navbar-brand d-flex align-items-center"
            ><img src="assets/images/common/logo.png" alt=""
          /></a>
          <div class="top-nav">
            <div class="toogle-search">
              <button
                class="navbar-toggler"
                type="button"
                (click)="toggleSidebar()"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <app-search-bar></app-search-bar>
            </div>
            <div class="top-menu">
              <app-sidenav></app-sidenav>
            </div>
            <app-right-top-bar></app-right-top-bar>
          </div>
        </div>
      </div>


    </div>
  </ng-sidebar-container>
</header>
