<div class="table-responsive mt-2">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Meeting Title</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of momDataTbl">
      <td>{{data.MeetingTitle}}</td>
      <td>{{data.Duedate}}</td>
      <td>{{data.Priority}}</td>
      <td>{{data.Status}}</td>
      <td><a routerLink="/track-action/website-discussion" class="btn btn-success">{{data.Action}}</a></td>
    </tr>
    </tbody>
</table>

</div>
<div class="row">
  <div class="col">
      <span>Showing 1 to 10 of 57 entries</span>
  </div>
  <div class="col">
    <ul class="pagination justify-content-end pagination-sm">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
