<div class="card cust-card meeting-wrap">
    <h2>{{heading}}</h2>
    <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
      <cdk-virtual-scroll-viewport scrollViewport itemSize="auto" class="example-viewport">
        <ul class="meeting-listing">
            <li *ngFor="let mom of momdata">
                <div class="txt">{{mom.department}}</div>
                <div class="date">{{mom.date}}</div>
                <div class="time">{{mom.time}}</div>
            </li>
        </ul>
      </cdk-virtual-scroll-viewport>
    </ng-scrollbar>
</div>
