<div class="card cust-card meeting-wrap">
    <h2>{{heading}}</h2>
    <ul class="meeting-listing">
        <li *ngFor="let mom of momdata">
            <div class="txt">{{mom.department}}</div>
            <div class="date">{{mom.date}}</div>
            <div class="time">{{mom.time}}</div>
        </li>
        <!-- <li>
            <div class="txt">Product Vertical Meeting</div>
            <div class="date">27/02/2020</div>
            <div class="time">4:35 pm</div>
        </li>
        <li>
            <div class="txt">IT Infra Meeting</div>
            <div class="date">26/02/2020</div>
            <div class="time">2:30 pm</div>
        </li>
        <li>
            <div class="txt">Product Vertical Meeting</div>
            <div class="date">27/01/2020</div>
            <div class="time">11:15 am</div>
        </li>
        <li>
            <div class="txt">IT Infra Meeting</div>
            <div class="date">26/01/2020</div>
            <div class="time">5:45 pm</div>
        </li>
        <li>
            <div class="txt">Marketing Team Meeting</div>
            <div class="date">28/02/2020</div>
            <div class="time">10:15 am</div>
        </li>
        <li>
            <div class="txt">Product Vertical Meeting</div>
            <div class="date">27/02/2020</div>
            <div class="time">4:35 pm</div>
        </li>
        <li>
            <div class="txt">IT Infra Meeting</div>
            <div class="date">26/02/2020</div>
            <div class="time">2:30 pm</div>
        </li>
        <li>
            <div class="txt">Product Vertical Meeting</div>
            <div class="date">27/01/2020</div>
            <div class="time">11:15 am</div>
        </li>
        <li>
            <div class="txt">Product Vertical Meeting</div>
            <div class="date">27/02/2020</div>
            <div class="time">4:35 pm</div>
        </li>
        <li>
            <div class="txt">IT Infra Meeting</div>
            <div class="date">26/02/2020</div>
            <div class="time">2:30 pm</div>
        </li>
        <li>
            <div class="txt">Product Vertical Meeting</div>
            <div class="date">27/01/2020</div>
            <div class="time">11:15 am</div>
        </li> -->
    </ul>
</div>