<div class="wrapper">
  <section>
      <div class="container">
          <h1>Documented MOM</h1>

          <form [formGroup]="meetingDataForm" (submit)="onSubmit()">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Meeting Setup</a>
                <ng-template ngbNavContent>
                    <div class="form-group row">
                      <label for="MeetingOwner" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Meeting Owner</label>
                      <div class="col-lg-9 col-md-7 col-sm-7">
                        <input type="text" class="form-control" id="MeetingOwner" formControlName="meetingOwner">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="MeetingName" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Meeting Name</label>
                      <div class="col-lg-9 col-md-7 col-sm-7">
                        <input type="text" class="form-control" id="MeetingName" formControlName="meetingName">
                      </div>
                    </div>
                    <div class="form-group row cust-row">
                      <label for="MeetingStartDate" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Meeting Start Date</label>
                      <div class="col-lg-3 col-md-7 col-sm-9">
                        <div class="cal-wrap">
                          <mat-form-field>
                            <mat-label>dd-mm-yyyy</mat-label>
                            <input matInput [matDatepicker]="MeetingStartDate">
                            <mat-datepicker-toggle matSuffix [for]="MeetingStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #MeetingStartDate></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <label for="MeetingEndDate" class="col-lg-3 col-md-4 col-sm-4 col-form-label">Meeting End Date</label>
                      <div class="col-lg-3 col-md-7 col-sm-9">
                        <div class="cal-wrap">
                          <mat-form-field>
                            <mat-label>dd-mm-yyyy</mat-label>
                            <input matInput [matDatepicker]="MeetingEndDate">
                            <mat-datepicker-toggle matSuffix [for]="MeetingEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #MeetingEndDate></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="MeetingLocation" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Meeting Localtion</label>
                      <div class="col-lg-9 col-md-7 col-sm-7">
                        <input type="text" class="form-control" id="MeetingLocation" formControlName="meetingLocation">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="OtherInformation" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Other Information</label>
                      <div class="col-lg-9 col-md-7 col-sm-7">
                        <textarea class="form-control" id="OtherInformation" formControlName="otherInformation"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="d-flex justify-content-center col mt-4">
                        <button class="btn-primary btn mr-2" (click)="nav.select(1)">Cancel</button>
                        <button class="btn-secondary btn" type="button" id="sessionTab" (click)="nav.select(2)">Save and Continue</button>
                        <!-- <button class="btn-primary btn mr-2">Next</button> -->
                      </div>
                    </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Session Topic</a>
                <ng-template ngbNavContent formGroupName="sessionData">
                    <div id="sesion-topic-1" *ngIf="!Session2">
                      <div class="form-group row">
                        <label for="SessionTopic1" class="col-lg-2 col-md-4 col-sm-4 col-form-label"><b>Session Topic 1</b></label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="SessionTopic1" formControlName="sessionTopic">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Presenter" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Presenter</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="Presenter" formControlName="presenter">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="ExternalPresenter" class="col-lg-2 col-md-4 col-sm-4 col-form-label">External Presenter</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="ExternalPresenter" formControlName="externalPresenter">
                        </div>
                      </div>
                      <div class="form-group row cust-row">
                        <label for="MeetingDate" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Meeting Date</label>
                        <div class="col-lg-3 col-md-7 col-sm-9">
                          <div class="cal-wrap">
                            <mat-form-field>
                              <mat-label>22-03-2020</mat-label>
                              <input matInput [matDatepicker]="MeetingDate" disabled>
                              <mat-datepicker-toggle matSuffix [for]="MeetingDate"></mat-datepicker-toggle>
                              <mat-datepicker #MeetingDate></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row cust-row">
                        <label for="SessionStartTime" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Session Start Time</label>
                        <div class="col-lg-3 col-md-7 col-sm-9">
                          <div class="cal-wrap">
                            <div class="timepicker-wrap">
                              <input [ngxTimepicker]="startTimepicker" [disableClick]="true" readonly>
                              <ngx-material-timepicker-toggle [for]="startTimepicker"></ngx-material-timepicker-toggle>
                              <ngx-material-timepicker #startTimepicker></ngx-material-timepicker>
                            </div>
                          </div>
                        </div>
                        <label for="SessionEndTime" class="col-lg-3 col-md-4 col-sm-4 col-form-label">Session End Time</label>
                        <div class="col-lg-3 col-md-7 col-sm-9">
                          <div class="cal-wrap">
                            <div class="timepicker-wrap">
                              <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly>
                              <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                              <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" formGroupName="internalParticipants">
                        <label for="InternalParticipants" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Internal Participants</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <app-autocomplete></app-autocomplete>
                        </div>
                      </div>
                      <div class="form-group row" formGroupName="externalParticipants">
                        <label for="externalParticipants" class="col-lg-2 col-md-4 col-sm-4 col-form-label">External Participants</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="externalParticipants" formControlName="name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Attachments" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Attachments</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <app-file-upload></app-file-upload>
                        </div>
                      </div>
                    </div>
                    <div class="mt-5 table-responsive" *ngIf="!Session2">
                      <table class="table table-bordered" formGroupName="actionItems">
                        <thead>
                        <tr>
                          <th scope="col">Sr. No.</th>
                          <th scope="col">Item Description</th>
                          <th scope="col">Type</th>
                          <th scope="col">Action Owner</th>
                          <th scope="col">Target Date</th>
                          <th scope="col">Priority</th>
                          <th scope="col">Remarks</th>
                        </tr>
                        </thead>
                        <tbody >
                          <tr>
                            <td>1</td>
                            <td>
                              <input type="text" formControlName="description" class="form-control">
                            </td>
                            <td>
                              <select class="form-control" name="type" formControlName="type" id="type">
                                <option selected>Select</option>
                                <option>Action</option>
                                <option>Information</option>
                              </select>
                            </td>
                            <td>
                              <input type="text" formControlName="actionOwner" class="form-control">
                            </td>
                            <td>
                              <div class="form-group">
                                <div class="cal-wrap">
                                  <mat-form-field>
                                    <mat-label>dd-mm-yyyy</mat-label>
                                    <input matInput [matDatepicker]="targetDate">
                                    <mat-datepicker-toggle matSuffix [for]="targetDate"></mat-datepicker-toggle>
                                    <mat-datepicker #targetDate></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </div>
                            </td>
                            <td>
                              <select class="form-control" name="priority" formControlName="priority" id="priority">
                                <option>Select</option>
                                <option>Action</option>
                                <option>Information</option>
                              </select>
                            </td>
                            <td>
                              <textarea name="remarks" id="remarks" class="form-control" formControlName="remarks"></textarea>
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>
                              <input type="text" formControlName="description" class="form-control">
                            </td>
                            <td>
                              <select class="form-control" name="type" formControlName="type" id="type">
                                <option>Select</option>
                                <option>Action</option>
                                <option>Information</option>
                              </select>
                            </td>
                            <td>
                              <input type="text" formControlName="actionOwner" class="form-control">
                            </td>
                            <td>
                              <div class="form-group">
                                <div class="cal-wrap">
                                  <mat-form-field>
                                    <mat-label>dd-mm-yyyy</mat-label>
                                    <input matInput [matDatepicker]="targetDate2">
                                    <mat-datepicker-toggle matSuffix [for]="targetDate2"></mat-datepicker-toggle>
                                    <mat-datepicker #targetDate2></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </div>
                            </td>
                            <td>
                              <select class="form-control" name="priority" formControlName="priority" id="priority">
                                <option>Select</option>
                                <option>Action</option>
                                <option>Information</option>
                              </select>
                            </td>
                            <td>
                              <textarea name="remarks" id="remarks" class="form-control" formControlName="remarks"></textarea>
                            </td>
                          </tr>
                          <tr *ngIf="Clonerow">
                            <td>3</td>
                            <td>
                              <input type="text" formControlName="description" class="form-control">
                            </td>
                            <td>
                              <select class="form-control" name="type" formControlName="type" id="type">
                                <option>Select</option>
                                <option>Action</option>
                                <option>Information</option>
                              </select>
                            </td>
                            <td>
                              <input type="text" formControlName="actionOwner" class="form-control">
                            </td>
                            <td>
                              <div class="form-group">
                                <div class="cal-wrap">
                                  <mat-form-field>
                                    <mat-label>dd-mm-yyyy</mat-label>
                                    <input matInput [matDatepicker]="targetDate">
                                    <mat-datepicker-toggle matSuffix [for]="targetDate"></mat-datepicker-toggle>
                                    <mat-datepicker #targetDate></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </div>
                              </td>
                            <td>
                              <select class="form-control" name="priority" formControlName="priority" id="priority">
                                <option>Select</option>
                                <option>Action</option>
                                <option>Information</option>
                              </select>
                            </td>
                            <td>
                              <textarea name="remarks" id="remarks" class="form-control" formControlName="remarks"></textarea>
                            </td>
                          </tr>

                        <tr>
                          <td colspan="7">
                            <a href="javascript:;" (click)="addrow()" class="txt-addmore">+ Add More</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="form-group row" *ngIf="!Session2">
                      <div class="d-flex col">
                        <a class="btn-orange-xs" href="javascript:;" id="addNew" (click)="addSession()">+ Add Session Topic 2</a>
                      </div>
                    </div>
                    <div *ngIf="Session2">

                      <!----Session Topic 2 -->
                      <div class="form-group row">
                        <label for="SessionTopic1" class="col-lg-2 col-md-4 col-sm-4 col-form-label"><b>Session Topic 2</b></label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="SessionTopic1" formControlName="sessionTopic">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Presenter" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Presenter</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="Presenter" formControlName="presenter">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="ExternalPresenter" class="col-lg-2 col-md-4 col-sm-4 col-form-label">External Presenter</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="ExternalPresenter" formControlName="externalPresenter">
                        </div>
                      </div>
                      <div class="form-group row cust-row">
                        <label for="MeetingDate" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Meeting Date</label>
                        <div class="col-lg-3 col-md-7 col-sm-9">
                          <div class="cal-wrap">
                            <mat-form-field>
                              <mat-label>dd-mm-yyyy</mat-label>
                              <input matInput [matDatepicker]="MeetingDate">
                              <mat-datepicker-toggle matSuffix [for]="MeetingDate"></mat-datepicker-toggle>
                              <mat-datepicker #MeetingDate></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row cust-row">
                        <label for="SessionStartTime" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Session Start Time</label>
                        <div class="col-lg-3 col-md-7 col-sm-9">
                          <div class="cal-wrap">
                            <div class="timepicker-wrap">
                              <input [ngxTimepicker]="startTimepicker" [disableClick]="true" readonly>
                              <ngx-material-timepicker-toggle [for]="startTimepicker"></ngx-material-timepicker-toggle>
                              <ngx-material-timepicker #startTimepicker></ngx-material-timepicker>
                            </div>
                          </div>
                        </div>
                        <label for="SessionEndTime" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Session End Time</label>
                        <div class="col-lg-3 col-md-7 col-sm-9">
                          <div class="cal-wrap">
                            <div class="timepicker-wrap">
                              <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly>
                              <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                              <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" formGroupName="internalParticipants">
                        <label for="InternalParticipants" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Internal Participants</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <app-autocomplete></app-autocomplete>
                        </div>
                      </div>
                      <div class="form-group row" formGroupName="externalParticipants">
                        <label for="externalParticipants" class="col-lg-2 col-md-4 col-sm-4 col-form-label">External Participants</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <input type="text" class="form-control" id="externalParticipants" formControlName="name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Attachments" class="col-lg-2 col-md-4 col-sm-4 col-form-label">Attachments</label>
                        <div class="col-lg-9 col-md-7 col-sm-7">
                          <app-file-upload></app-file-upload>
                        </div>
                      </div>

                      <div class="mt-5 table-responsive" *ngIf="Session2">
                        <table class="table table-bordered" formGroupName="actionItems">
                          <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Item Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Action Owner</th>
                            <th scope="col">Target Date</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Remarks</th>
                          </tr>
                          </thead>
                          <tbody >
                            <tr>
                              <td>1</td>
                              <td>
                                <input type="text" formControlName="description" class="form-control">
                              </td>
                              <td>
                                <select class="form-control" name="type" formControlName="type" id="type">
                                  <option>Select</option>
                                  <option>Action</option>
                                  <option>Information</option>
                                </select>
                              </td>
                              <td>
                                <input type="text" formControlName="actionOwner" class="form-control">
                              </td>
                              <td>
                                <div class="form-group">
                                  <div class="cal-wrap">
                                    <mat-form-field>
                                      <mat-label>dd-mm-yyyy</mat-label>
                                      <input matInput [matDatepicker]="targetDate">
                                      <mat-datepicker-toggle matSuffix [for]="targetDate"></mat-datepicker-toggle>
                                      <mat-datepicker #targetDate></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <!-- <div class="cal-wrap">
                                    <input class="form-control" placeholder="mm-dd-yyyy" formControlName="targetDate" name="dp" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
                                    <div class="input-group-append">
                                      <button class="calendar" (click)="d.toggle()" type="button"></button>
                                    </div>
                                  </div> -->
                                </div>

                                <!-- <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                                  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                                        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                                    {{ date.day }}
                                  </span>
                                </ng-template> -->
                              </td>
                              <td>
                                <select class="form-control" name="priority" formControlName="priority" id="priority">
                                  <option>Select</option>
                                  <option>Action</option>
                                  <option>Information</option>
                                </select>
                              </td>
                              <td>
                                <textarea name="remarks" id="remarks" class="form-control" formControlName="remarks"></textarea>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>
                                <input type="text" formControlName="description" class="form-control">
                              </td>
                              <td>
                                <select class="form-control" name="type" formControlName="type" id="type">
                                  <option>Select</option>
                                  <option>Action</option>
                                  <option>Information</option>
                                </select>
                              </td>
                              <td>
                                <input type="text" formControlName="actionOwner" class="form-control">
                              </td>
                              <td>
                                <div class="form-group">
                                  <div class="cal-wrap">
                                    <mat-form-field>
                                      <mat-label>dd-mm-yyyy</mat-label>
                                      <input matInput [matDatepicker]="targetDate2">
                                      <mat-datepicker-toggle matSuffix [for]="targetDate2"></mat-datepicker-toggle>
                                      <mat-datepicker #targetDate2></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <select class="form-control" name="priority" formControlName="priority" id="priority">
                                  <option>Select</option>
                                  <option>Action</option>
                                  <option>Information</option>
                                </select>
                              </td>
                              <td>
                                <textarea name="remarks" id="remarks" class="form-control" formControlName="remarks"></textarea>
                              </td>
                            </tr>
                            <tr *ngIf="Clonerow">
                              <td>3</td>
                              <td>
                                <input type="text" formControlName="description" class="form-control">
                              </td>
                              <td>
                                <select class="form-control" name="type" formControlName="type" id="type">
                                  <option>Select</option>
                                  <option>Action</option>
                                  <option>Information</option>
                                </select>
                              </td>
                              <td>
                                <input type="text" formControlName="actionOwner" class="form-control">
                              </td>
                              <td>
                                <div class="form-group">
                                  <div class="cal-wrap">
                                    <mat-form-field>
                                      <mat-label>dd-mm-yyyy</mat-label>
                                      <input matInput [matDatepicker]="targetDate">
                                      <mat-datepicker-toggle matSuffix [for]="targetDate"></mat-datepicker-toggle>
                                      <mat-datepicker #targetDate></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <select class="form-control" name="priority" formControlName="priority" id="priority">
                                  <option>Select</option>
                                  <option>Action</option>
                                  <option>Information</option>
                                </select>
                              </td>
                              <td>
                                <textarea name="remarks" id="remarks" class="form-control" formControlName="remarks"></textarea>
                              </td>
                            </tr>

                          <tr>
                            <td colspan="7">
                              <a href="javascript:;" (click)="addrow()" class="txt-addmore">+ Add More</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="form-group row" *ngIf="Session2">
                        <div class="d-flex col">
                          <a class="btn-orange-sm btn" id="addNew" (click)="addSession()">+ Add Session Topic 3</a>
                        </div>
                      </div>
                      <!---Session Topic 2-->


                    </div>
                    <div class="form-group row">
                      <div class="d-flex justify-content-center col mt-4">
                        <button class="btn-primary btn mr-2" (click)="nav.select(1)">Cancel</button>
                        <button class="btn-secondary btn" (click)="nav.select(3)">Save and Continue</button>
                      </div>
                    </div>
                    <div class="table-responsive" *ngIf="Session2">
                      <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Details</th>
                              <th>Presenter</th>
                              <th>Meeting Date</th>
                              <th>Session Start Time</th>
                              <th>Session End Time</th>
                              <th>Internal Participant</th>
                              <th>External Participant</th>
                              <th>Attahchment</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of meetingDataEdit">
                              <td>{{item.details}}</td>
                              <td>{{item.presenter}}</td>
                              <td>{{item.meetaingDate}}</td>
                              <td>{{item.sessionStartTime}}</td>
                              <td>{{item.sessionEndTime}}</td>
                              <td class="text-center"><a href="javascript:;" class="link-view">{{item.InternalParticipants}}</a></td>
                              <td class="text-center"><a href="javascript:;" class="link-view">{{item.externalParticipants}}</a></td>
                              <td><a href="javascript:;" class="link-view">{{item.attachement}}</a></td>
                              <td>
                                <span class="actionBtn">
                                  <a href="javascript:;"><img src="assets/images/common/icons/fc-trash.png"></a>
                                  <a href="javascript:;"><img src="assets/images/common/icons/fc-pencil.png"></a>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Meeting Summary</a>
                <ng-template ngbNavContent  *ngFor="let data of meetingdtlTBL">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Meeting Owner</th>
                            <th>Meeting Name</th>
                            <th>Meeting Start Date</th>
                            <th>Meeting End Date</th>
                            <th>Meeting Location</th>
                            <th>Other Information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{data.meetingOwner}}</td>
                            <td>{{data.meetingTitle}}</td>
                            <td>{{data.meetingStartDate}}</td>
                            <td>{{data.meetingEndDate}}</td>
                            <td>{{data.meetingLocation}}</td>
                            <td>{{data.otherInformation}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <ngb-accordion #acc="ngbAccordion">
                      <ngb-panel title="Session Topic {{item.sessionId}} - {{item.sessionTopic}}" *ngFor="let item of sessionData[0]">
                        <ng-template ngbPanelContent>
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Session Topic {{item.sessionId}}</th>
                                  <th>Presenter</th>
                                  <th>External Presenter</th>
                                  <th>Meeting Date</th>
                                  <th>Session Start Time</th>
                                  <th>Session End Time</th>
                                  <th>Attachment</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{item.sessionTopic}}</td>
                                  <td>{{item.presenter}}</td>
                                  <td>{{item.externalPresenter}}</td>
                                  <td>{{item.meetingDate}}</td>
                                  <td>{{item.sessionStartTime}}</td>
                                  <td>{{item.sessionEndTime}}</td>
                                  <td><a href="javascript:;" class="btn-link">{{item.attachment}}</a></td>
                                  <td><a class="fa fa-trash"></a><a class="fa fa-pencil"></a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="table-responsive mt-2">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <td><b>Internal Participants</b></td>
                                  <td>
                                    <ul class="list-inline">
                                      <li *ngFor="let x of item.internalParticipants" class="list-inline-item">{{x.name}}</li>
                                    </ul>
                                  </td>
                                </tr>
                                <tr>
                                  <td><b>External Participants</b></td>
                                  <td>
                                    <ul class="list-inline">
                                      <li *ngFor="let x of item.externalParticipants" class="list-inline-item">{{x.name}}</li>
                                    </ul>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="mt-2 table-responsive">
                            <table class="table table-bordered">
                              <thead>
                              <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Item Description</th>
                                <th scope="col">Type</th>
                                <th scope="col">Action Owner</th>
                                <th scope="col">Target Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Remarks</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let item of item.actionItems">
                                <td>{{item.id}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.type}}</td>
                                <td>{{item.actionOwner}}</td>
                                <td>{{item.targetDate}}</td>
                                <td>{{item.priority}}</td>
                                <td>{{item.remarks}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                </ng-template>
              </li>
            </ul>
          </form>
          <div [ngbNavOutlet]="nav" class=""></div>
      </div>
  </section>
</div>
