<div class="wrapper">
  <section>
    <div class="container">
      <h1>Track Action - Website Discussion</h1>
      <div class="main-container">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Meeting Owner</th>
                <th>Meeting Name</th>
                <th>Meeting Start Date</th>
                <th>Meeting End Date</th>
                <th>Meeting Location</th>
                <th>Other Information</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of meetingdtlTBL">
                <td>{{data.meetingOwner}}</td>
                <td>{{data.meetingTitle}}</td>
                <td>{{data.meetingStartDate}}</td>
                <td>{{data.meetingEndDate}}</td>
                <td>{{data.meetingLocation}}</td>
                <td>{{data.otherInformation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Session Topic {{item.sessionId}} - {{item.sessionTopic}}" *ngFor="let item of sessionData[0]">
            <ng-template ngbPanelContent>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Item Descreption</th>
                      <th>Action Owner</th>
                      <th>Target Date</th>
                      <th>Priority</th>
                      <th>Status</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><input type="text" class="form-control" placeholder="Lorem Ipsum dummy text" disabled /></td>
                      <td><input type="text" class="form-control" placeholder="Kaushal R" disabled /></td>
                      <td><div class="cal-wrap">
                        <mat-form-field>
                          <mat-label>26-03-2020</mat-label>
                          <input matInput [matDatepicker]="MeetingStartDate" disabled>
                          <mat-datepicker-toggle matSuffix [for]="MeetingStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #MeetingStartDate></mat-datepicker>
                        </mat-form-field>
                      </div></td>
                      <td><select class="form-control" disabled name="priority" formControlName="priority" id="priority">
                        <option>Select</option>
                        <option selected>High</option>
                        <option>Low</option>
                      </select></td>
                      <td><select class="form-control" disabled name="priority" formControlName="status" id="status">
                        <option>Select</option>
                        <option selected="Open">Open</option>
                        <option>Close</option>
                      </select></td>
                      <td><textarea name="remarks" id="remarks" placeholder="Lorem ipsum dummy text" disabled class="form-control" formControlName="remarks"></textarea></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><input type="text" class="form-control" placeholder="Lorem Ipsum dummy text" disabled /></td>
                      <td><input type="text" class="form-control" placeholder="Kaushal R" disabled /></td>
                      <td><div class="cal-wrap">
                        <mat-form-field>
                          <mat-label>26-03-2020</mat-label>
                          <input matInput [matDatepicker]="MeetingStartDate" disabled>
                          <mat-datepicker-toggle matSuffix [for]="MeetingStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #MeetingStartDate></mat-datepicker>
                        </mat-form-field>
                      </div></td>
                      <td><select class="form-control" disabled name="priority" formControlName="priority" id="priority">
                        <option>Select</option>
                        <option selected>High</option>
                        <option>Low</option>
                      </select></td>
                      <td><select class="form-control" disabled name="priority" formControlName="status" id="status">
                        <option>Select</option>
                        <option selected="Open">Open</option>
                        <option>Close</option>
                      </select></td>
                      <td><textarea name="remarks" id="remarks" placeholder="Lorem ipsum dummy text" disabled class="form-control" formControlName="remarks"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-right"><a href="#" class="btn btn-blue-sm">Update</a></div>
              <div class="table-responsive mt-2">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td><b>Internal Participants</b></td>
                      <td>
                        <ul class="list-inline">
                          <li *ngFor="let x of item.internalParticipants" class="list-inline-item">{{x.name}}</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td><b>External Participants</b></td>
                      <td>
                        <ul class="list-inline">
                          <li *ngFor="let x of item.externalParticipants" class="list-inline-item">{{x.name}}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mt-2 table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action Owner</th>
                    <th scope="col">Target Date</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Remarks</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of item.actionItems">
                    <td>{{item.id}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.actionOwner}}</td>
                    <td>{{item.targetDate}}</td>
                    <td>{{item.priority}}</td>
                    <td>{{item.remarks}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <ng-template ngbNavContent >


    </ng-template>
    </div>
  </section>
</div>
