<div class="wrapper">
  <section>
      <div class="container">
          <h1>Track Action</h1>
          <div class="main-container">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Meeting Owner</th>
                    <th>Meeting Title</th>
                    <th>Meeting Start Date</th>
                    <th>Meeting End Date</th>
                    <th>Meeting Location</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of meetingdtlTBL">
                    <td>{{data.meetingOwner}}</td>
                    <td>{{data.meetingTitle}}</td>
                    <td>{{data.meetingStartDate}}</td>
                    <td>{{data.meetingEndDate}}</td>
                    <td>{{data.meetingLocation}}</td>
                    <td align="center"><a [routerLink]="['website-discussion']" class="btn btn-sm btn-primary">View</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
  </section>
</div>
