.cust-card {border-radius:0; padding:10px 15px 0 25px; border:0; }
.cust-card h2 {color:#515151;font-size:18px; line-height:30px; display: inline-block;vertical-align: middle;position: relative;}
.cust-card h2 > a {position: absolute; right:0; top:-5px;}