@font-face {
  font-family: 'Ambit';
  src: url('fonts/ambit-regular.woff2') format('woff2'),
       url('fonts/ambit-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ambit';
  src: url('fonts/ambit-bold.woff2') format('woff2'),
       url('fonts/ambit-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
