<div class="sidenavWrap" id="navbarHeader">
  <div class="sidenav">
    <ul>
      <li><a href="#" class=""><i class="fc-home"></i> <span>Dashboard</span></a></li>
      <li><a href="#"><i class="fc-user-plus"></i> <span>Document MOM</span></a></li>
      <li class="all-doc"><a href="#"><i class="fc-all-documents"></i> <span>All Documented MOM</span></a></li>
      <li><a href="#"><i class="fc-map-marker"></i> <span>Track Action</span></a></li>
      <li class="abt"><a href="#"><i class="fc-info"></i> <span>About</span></a></li>
   </ul>
    <span class="d-flex"><span class="align-items-center"><span class="copy-txt"> Copyright</span></span></span>
  </div>
</div>