<div class="wrapper">
  <section>

    <div class="container">

      <button class="btn btn-success" (click)="showToasterSuccess()">
        Success Toaster
    </button>

    <button class="btn btn-danger"  (click)="showToasterError()">
        Error Toaster
    </button>

    <button class="btn btn-info" (click)="showToasterInfo()">
        Info Toaster
    </button>

    <button class="btn btn-warning"  (click)="showToasterWarning()">
        Warning Toaster
    </button>
      </div>
    </section>
</div>
